<nav class="d-flex justify-content-between top-nav">
  <div class="d-flex">
    <i class="fas fa-bullhorn fa-2x ms-5 me-3 my-auto"></i>
    <h1 class="title my-auto">Shout</h1>
  </div>
  <div class="d-flex">
    <%= link_to homepage_url, method: :get, class: "p-2 py-auto mx-2 my-auto" do %>
      <%= fa_icon "user", class: "fa-lg" %>
    <% end %>
    <%= link_to "/logout", method: :get, class: "p-2 py-auto mx-3 my-auto" do %>
      <%= fa_icon "sign-out-alt", class: "fa-lg" %>
    <% end %>
  </div>
</nav>
