<nav class="d-flex justify-content-between top-nav">
  <div class="d-flex">
    <i class="fas fa-bullhorn fa-2x"></i>
    <h1 class="title">Shout</h1>
  </div>
  <div>
    <i class="fas fa-user fa-lg p-2 py-auto"></i>
    <i class="fas fa-sign-out-alt fa-lg p-2 py-auto"></i>
  </div>
</nav>
