<nav class="d-flex justify-content-between top-nav">
  <div>
    <i class="fas fa-bullhorn fa-2x"></i>
    <span class="title">Shout</span>
  </div>
  <div>
    <i class="fas fa-user fa-lg p-2 py-auto"></i>
    <i class="fas fa-sign-out-alt fa-lg p-2 py-auto"></i>
  </div>
</nav>
<section>
  <%= render "yells" %>
</section>