<div class="row">
  <div class="col-2">
    <section class="left-menu-top">
      <div class="d-flex">
        <img src="" class="profile-picture">
        <span class="user-full-name"><%= @user.full_name %></span>
      </div>
      <div class="d-flex justify-content-between">
        <div>
          <span class="quantity"><%= @followeds %></span></br>
          <span class="sub-text">Following</span>
        </div>
        <div>
          <span class="quantity"><%= @followers %></span></br>
          <span class="sub-text">Followers</span>
        </div>
      </div>
    </section>
    <section class="left-menu-bottom">
      <div class="menu-item">
        <i class="fas fa-home"></i>
        <span class="menu-text">HOME</span>
      </div>
    </section>
  </div>
  <div class="col-9">
  </div>
</div>