<div class="container-fluid g-0">
  <div class="row g-0">
    <div class="col-2 left-menu">
      <%= render "left_menu" %>
    </div>
    <div class="col-10 right-menu">
      <%= render "top_menu" %>
      <section>
        <%= render "yells" %>
      </section>
    </div>
  </div>
</div>