<h1>Shout</h1>

<% if logged_in? %>

  <h3>Welcome, <%= current_user.username %></h3>

<% end %>

<p>Express your fellings by yelling at others!</p>

<% if logged_in? %>
  <%= button_to "Log out", '/logout', method: :get %>
<% else %>
  <%= button_to "Login", '/login', method: :get %>
  <%= button_to "Sign Up", '/users/new', method: :get %>
<% end %>



