<section class="initial-card p-5 rounded">
  <h1 class="initial-title mb-3">Sign Up</h1> 
  <%= render "form", user: @user %>
  <%= button_to "Back", root_url, method: :get, class: "btn btn-secondary my-3" %>
</section>